* {
    margin: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

a {
    position: fixed;
    background-color: #f7d16d;
    color: #252525;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    left: 15px;
    top: 15px;
    letter-spacing: 0cap;
}

body {
    background-color: #333;
    /* width: 100%;
    margin: auto; */
}

img {
    margin-top: 10rem;
    margin-left: 5rem;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
}

.mainDisplay {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 100%;
    margin: auto;
}

.name {
    position: absolute;
    margin-left: 12rem;
    color: white;
    font-weight: bold;
    bottom: 320px;


}

.position1,
.position2,
.position3 {
    position: absolute;
    margin-left: 12rem;
    color: white;
    font-weight: bold;
    bottom: 300px;
    text-align: center;
}

.position1 {
    left: -15px;
}

.position2 {
    left: 370px;
}

.position3 {
    left: 750px;
}