table {
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid grey;
}

table,
th,
td {
    border: 1px solid grey;
}

.row1 {
    background-color: lightgrey;
}

.row3 {
    background-color: lightgrey;
}
